<body>
	
	<p>Places where palm oil is currently being served:</p>

	<table class = "table table-hover">
	<% for (i in data) { %>
		<tr>
			<td>#<%= i %></td>
			<td><%=	data[i] %></td>
			<td>description</td>
		</tr>
	<% }%>
	</table>
	
</body>