<% var appTitle = "App Title Text" %>
<% var appSubtitle = "App Subtitle Text" %>
<% var appLogoImg = "https://pbs.twimg.com/profile_images/551428167760486404/DMyfmQDA.jpeg" %>

<div id = "logo">
	<img src = <%= appLogoImg %> >
	<h1><%= appTitle %></h1>
	<h2><%= appSubtitle %></h2>
</div>