<% var appInfo = { title: "App Title Text", subtitle: "App Subtitle Text", image: "https://pbs.twimg.com/profile_images/551428167760486404/DMyfmQDA.jpeg" %>

<div id = "logo">
	<img src = <%= appInfo.image %> ALT = "Orangutan Palm Oil Pain logo">
	<h1><%= appInfo.title %></h1>
	<h2><%= appInfo.subtitle %></h2>
</div>